
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de envío de ficheros</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> <!-- Usado para el formato CSS del formulario -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> <!-- Usado para la animación de la barra -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js"></script> <!-- Usado para la animación de la barra -->
    
</head>
<body>
<div class="container">
    <h1 class="page-header text-center">Formulario de envío de ficheros</h1>
    {% block content %}
         
    {% endblock content %}
</div>
</body>
</html>