
<!DOCTYPE html>
<html>
  <head>
    <!-- https://bootdey.com/snippets/view/contacts-list-table#html -->
<!--<link rel="stylesheet" href="https://cdn.usebootstrap.com/bootstrap/5.1.3/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="https://cdn.usebootstrap.com/bootstrap/latest/css/bootstrap.min.css">
    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    
</head>
<body>
    <div class="container">
        <div class="text-center mb-5">
          <h3>Jobs openning</h3>
          <p class="lead">Eros ante urna tortor aliquam nisl magnis quisque hac</p>
        </div>
        
        {% for recipe in recipes %}

        <div class="card mb-3">
          <div class="card-body">
            <div class="d-flex flex-column flex-lg-row">
              <span class="avatar avatar-text rounded-3 me-4 bg-info mb-2">{{ recipe.id }}</span>
              <div class="row flex-fill">
                <div class="col-sm-5">
                  <h4 class="h5">{{ recipe.st }}</h4>
                  <span class="badge bg-secondary">WORLDWIDE</span> <span class="badge bg-success">$150K - $210K</span>
                </div>
                <div class="col-sm-4 py-2">
                  <span class="badge bg-secondary">PRODUCT MARKETING</span>
                  <span class="badge bg-secondary">MARKETING</span>
                  <span class="badge bg-secondary">EXECUTIVE</span>
                  <span class="badge bg-secondary">ECOMMERCE</span>
                </div>
                <div class="col-sm-3 text-lg-end">
                  <a href="#" class="btn btn-primary stretched-link">Apply</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        {% endfor %}

      </div>

    
</body>

    
  