
<!DOCTYPE html>
<html>
  <head>
    <!-- https://bootdey.com/snippets/view/contacts-list-table#html -->
<!--<link rel="stylesheet" href="https://cdn.usebootstrap.com/bootstrap/5.1.3/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="https://cdn.usebootstrap.com/bootstrap/latest/css/bootstrap.min.css">
    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    
</head>
<body>
    <div class="container">
        <div class="col-lg-10 col-md-12 card-no-border">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex">
                        <h4 class="card-title"><span class="lstick"></span>Activity</h4>
                    </div>
                </div>
                <div class="activity-box">
                    <div class="card-body">
                        <!-- Activity item-->
                        <div class="activity-item">
                            <div class="round m-r-20"><img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="user" width="50" /></div>
                            <div class="m-t-10">
                                <h5 class="m-b-0 font-medium">Mark Freeman <span class="text-muted font-14 m-l-10">| &nbsp; 6:30 PM</span></h5>
                                <h6 class="text-muted">uploaded this file</h6>
                                <table class="table vm b-0 m-b-0">
                                    <tbody>
                                        <tr>
                                            <td class="m-r-10 b-0">
                                                <i class="fa fa-file-archive-o fa-5x" aria-hidden="true"></i>
                                            </td>
                                            <td class="b-0">
                                                <h5 class="m-b-0 font-medium">Homepage.zip</h5>
                                                <h6>54 MB</h6>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- Activity item-->
                        <!-- Activity item-->
                        <div class="activity-item">
                            <div class="round m-r-20"><img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="user" width="50" /></div>
                            <div class="m-t-10">
                                <h5 class="m-b-5 font-medium">Emma Smith <span class="text-muted font-14 m-l-10">| &nbsp; 6:30 PM</span></h5>
                                <h6 class="text-muted">joined projectname, and invited <a href="javascript:void(0)">@maxcage, @maxcage, @maxcage, @maxcage, @maxcage,+3</a></h6>
                                <span class="image-list m-t-20">
                                    <a href="javascript:void(0)"><img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="img-circle" alt="user" width="50" /></a>
                                    <a href="javascript:void(0)"><img src="https://bootdey.com/img/Content/avatar/avatar2.png" class="img-circle" alt="user" width="50" /></a>
                                    <a href="javascript:void(0)"><span class="round round-warning">C</span></a>
                                    <a href="javascript:void(0)"><span class="round round-danger">D</span></a>
                                    <a href="javascript:void(0)">+3</a>
                                </span>
                            </div>
                        </div>
                        <!-- Activity item-->
                        <!-- Activity item-->
                        <div class="activity-item">
                            <div class="round m-r-20"><img src="https://bootdey.com/img/Content/avatar/avatar4.png" alt="user" width="50" /></div>
                            <div class="m-t-10">
                                <h5 class="m-b-0 font-medium">David R. Jones <span class="text-muted font-14 m-l-10">| &nbsp; 9:30 PM, July 13th</span></h5>
                                <h6 class="text-muted">uploaded this file</h6>
                                <span>
                                    <a href="javascript:void(0)" class="m-r-10"><img src="https://www.bootdey.com/image/340x232/FF8C00/000000" alt="user" width="60" /></a>
                                    <a href="javascript:void(0)" class="m-r-10"><img src="https://www.bootdey.com/image/340x232/7B68EE/000000" alt="user" width="60" /></a>
                                </span>
                            </div>
                        </div>
                        <!-- Activity item-->
                        <!-- Activity item-->
                        <div class="activity-item">
                            <div class="round m-r-20"><img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="user" width="50" /></div>
                            <div class="m-t-10">
                                <h5 class="m-b-5 font-medium">David R. Jones <span class="text-muted font-14 m-l-10">| &nbsp; 6:30 PM</span></h5>
                                <h6 class="text-muted">Commented on<a href="javascript:void(0)">Test Project</a></h6>
                                <p class="m-b-0">It has survived not only five centuries, but also the leap into unchanged.</p>
                            </div>
                        </div>
                        <!-- Activity item-->
                    </div>
                </div>
            </div>
        </div>
        
        </div>
</body>

    
  